footer{
    width: 100%;
    height: 194px;
    border: 1px solid;
    margin-top: 1px;
    .footer__logo{
        margin-top: 40px;
        margin-left: 130px;
    }
    .footer__title{
font-family: 'Recoleta';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
text-align: center;
color: #163A24;
margin-top: -40px;
    }
    .footer-socials{
        display: flex;
        justify-content: end;
        margin-right: 130px;
        margin-top: -40px;
        img{
            margin: 14px;
        }
    }
    .footer__end{
        font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #163A24;
margin-left: 130px;
margin-top: 45px;
    }
    .footer__list{
        display: flex;
        margin-left: 950px;
        margin-top: -38px;
        .footer__item{
            margin: 14px;
            list-style: none;
            a{
                text-decoration: none;
                color: #198C36;
            }
        }
    }
}